.b1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  z-index: -1;

  @media (max-width: 768px) {
    width: 120px;
  }
}


.b2 {
  position: absolute;
  top: 35%;
  right: 0;
  width: 200px;
  z-index: -1;

  @media (max-width: 768px) {
    width: 120px;
  }
}

.b3,
.b4,
.b5,
.b6,
.b7,
.b8,
.b9 {
  position: absolute;
  width: 300px;
  z-index: -1;

  @media (max-width: 768px) {
    top: 80%;
    width: 120px;
  }
}

.b3 {
  top: 80%;
  left: 0;
}

.b4 {
  top: 170%;
  right: 0;
}

.b5 {
  top: 270%;
  left: 0;
}

.b6 {
  top: 355%;
  right: 0;
}

.b7 {
  top: 425%;
  left: 0;
}

.b8 {
  top: 515%;
  right: 0;
}

.b9 {
  top: 595%;
  left: 0;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;

  h5 {
    text-transform: uppercase;
  }

  h1 {
    text-transform: capitalize;
    font-weight: 600;
    color: #838A43;
  }
}

.section_one,
.section_two,
.section_three,
.section_four,
.section_five,
.section_six,
.section_seven {
  margin-bottom: 10em;

  img {
    width: 350px;
    max-width: 90%;
  }
}

.title_name {
  font-size: 1.2em;
  color: #838A43;
  font-weight: 600;
}

.sub_head {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.section_text {
  letter-spacing: 1px;
}

.section_link {
  color: #838A43;
  text-decoration: underline;
}

.header {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5em;

  h1 {
    color: #838A43;
    font-weight: 600;
  }
}