@import './mediaQuery';

body {
  overflow-x: hidden;
}

.b1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  z-index: -1;

  @media (max-width: 768px) {
    width: 120px;
  }
}


.b2 {
  position: absolute;
  top: 35%;
  right: 0;
  width: 200px;
  z-index: -1;

  @media (max-width: 768px) {
    width: 120px;
  }
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;

  h5 {
    text-transform: uppercase;
  }

  h1 {
    text-transform: capitalize;
    font-weight: 600;
    color: #838A43;
  }
}

.section_one,
.section_two,
.section_three,
.section_four,
.section_five,
.section_six,
.section_seven {
  margin-bottom: 10em;

  .img_col {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    .even {
      position: absolute;
      left: -20%;
      top: 40%;
      z-index: -1;
      transform: translate(-20%, -20%);

      @include mobile {
        width: 150px;
      }
    }

    .odd {
      position: absolute;
      right: -20%;
      top: 40%;
      z-index: -1;
      transform: translate(20%, -10%);

      @include mobile {
        width: 150px;
      }
    }

  }

  .text_col {
    margin-top: 50px;
  }

  img {
    width: 350px;
    max-width: 100%;
  }
}

.title_name {
  font-size: 1.2em;
  color: #838A43;
  font-weight: 600;
}

.sub_head {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.section_text {
  letter-spacing: 1px;
}

.section_link {
  color: #838A43;
  text-decoration: underline;
}

.header {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5em;

  h1 {
    color: #838A43;
    font-weight: 600;
  }
}